node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
./app.json
app.json
node_modules
pack-lock.json
*.ENV
.ENV
# macOS
.DS_Store
./backend/winston-sam-function/get-rounds/node_modules
./backend/winston-sam-function/hello-world/node_modules